#ver-minimalist
{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
	margin: auto auto;
	width: 1000px;
	text-align: center;
	border-collapse: collapse;
}
#ver-minimalist th
{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 18px;
	border-bottom: 2px solid #6678b1;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
	color: #039;
}
#ver-minimalist td
{
	padding: 16px 4px 2px 4px;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
	color: #669;
}

#ver-minimalist tbody tr:hover td
{
	color: #009;
}
