<!DOCTYPE html>
<link href='static/navbar.css' rel='stylesheet' type='text/css'>
{% block css_imports %}{% endblock %}

<title>{% block title %}{% endblock %}</title>
  
<body>
  <div id="navigation">
    {% if logged_in_user %}
      <a href="/">Home</a>
      <a href="/scores">Scores</a>
      <a href="/stats">Stats</a>
      <a href="/problems">Problems</a>
      <a href="/logout">Logout</a>
    {% else %}
      <a href="/login">Login</a>
      <a href="/scores">Scores</a>
    {% endif %}
  </div>
  {% block content %}{% endblock %}
</body>
