{% extends "base.html" %}

{% block css_imports %}
    <link href='/static/input_form.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}
    Change solution price: {{ current_problem.display_name }}
{% endblock %}

{% block content %}
    <div id="table_content">
        <h1>Change the price of the solution of {{ current_problem.display_name.lower() }}</h1>
        <p>What should be the new price of the solution of {{ (current_problem.display_name).lower() }}? To change the price, a charge of {{ market_fee }} points will be incurred.</p>
    <form method="POST" >
        {{ form.price(placeholder="Enter price") }}
        {{ form.submit }}
        {% if error %}
        <p>{{ error }}</p>
        {% else %}
        <br>
        {% endif %}
        <input type="submit" value="Submit">
    </form>
   </div>
{% endblock %}
