{% extends "base.html" %}

{% block css_imports %}
{% endblock %}

{% block title %}
  The Code Market
{% endblock %}

{% block content %}
  <div id="content">
      <div class="col-12">
        <h1>How to navigate the site</h1>
        <hr>
        <ul>
            <li>To check your score and position, go to the scores section.</li>
            <li>To get a more detailed overview of your score and the problems you've
                 solved, go to the stats section.</li>
            <li>To submit, buy or sell a solution to a problem, go to the problems section.</li>
            <li>To logout, click on the logout button.</li>
        </ul>
      </div>
    </div>
{% endblock %}
