{% extends "base.html"%}

{% block css_imports %}
    <link href='static/table.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}
    Problems page: {{ logged_in_user.display_name }}
{% endblock %}

{% block content %}
    <div id="table_content">
        <h1>Problems to solve</h1>
        <table id="ver-minimalist"
               width="100%"
               align="center">
        {% for name,problem in categorized_problems["to_solve"] %}
        <tr>
            <td>{{ problem.display_name }}</td>
            <td><a href="#">Submit solution</a></td>
        </tr>
        {% endfor %}
        </table>
        <br>
        <hr>
        <h1>Sale candidates</h1>
        <table id="ver-minimalist"
               width="100%"
               align="center">
        {% for name,problem in categorized_problems["to_sell"] %}
        <tr>
            <td>{{ problem.display_name }}</td>
            <td><a href="#">Sell</a></td>
        </tr>
        {% endfor %}
        </table>
        <br>
        <hr>
        <h1>On sale</h1>
        <table id="ver-minimalist"
               width="100%"
               align="center">
        {% for name,problem in categorized_problems["on_market"] %}
        <tr>
            <td>{{ problem.display_name }}</td>
            <td><a href="#">Change price</a></td>
        </tr>
        {% endfor %}
        </table>
        </div>
{% endblock %}
