{% extends "base.html" %}
{% block css_imports %}
  <link href='static/table.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}
  {% if logged_in_user %}
  Team scores - {{ logged_in_user.display_name }}
  {% else %}
  Team scores
  {% endif %}
{% endblock %}

{% block content %}
    <div id="table_content">
    <table id="ver-minimalist"
           width="100%"
           align="center">
    <tr>
        <th>Current position</th>
        <th>Team name</th>
        <th>Problems solved</th>
        <th>Score</th>
    </tr>
    {% for position, score in scores %}
    <tr>
        <td>{{ position + 1 }}</td>
        <td>{{ score[1] }}</td>
        <td>{{ score[3] }}</td>
        <td>{{ score[2] }}</td>
    </tr>
    {% endfor %}
    </table>
    </div>

{% if not logged_in_user %}
    <script type="text/javascript">
        setTimeout(function () { location.reload(true); }, 5000);
    </script>
{% endif %}

{% endblock %}
